<!doctype html>

<html>
  <head>
    <meta charset="utf-8">

    <title>(^_^) Night.ly Dashboardt (^_^)</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all">

  </head>

  <body>
    <%= yield %>
  </body>
</html>

  <script>

var bgcolorlist=new Array("#CC3366", "#CC4D33", "#CC9933", "#B3CC33", "#CC33B3", "#D8648B", "#E495AF", "#66CC33", "#9933CC", "#95E4CA", "#64D8B1", "#33CC4D", "#4D33CC", "#3366CC", "#33B3CC", "#33CC99")

document.body.style.background=bgcolorlist[Math.floor(Math.random()*bgcolorlist.length)]
</script>

<footer></footer>
