<!-- <form method="POST" action="/profiles/new">
  <p>
    <label for="username">username:</label>
    <input type="text" name="username" id="username"/>
    <br/>
    <label for="location">location:</label>
    <input type="text" name="from_address" id="address_two"/>
    <br/>
    <label for="cuisine_choice">favorite type of food:</label>
                  (select all that apply)
    <input type="checkbox" name="cuisine" id="user_message"/>
    <br/>
    <label for="user_stamp_price"> stamp price:</label>
    <input type="text" name="stamp_price" id="user_stamp_price"/>
    <br/>
    <input type="submit" value="send." />
  </p>
</form -->>
