  <h2> profile info. </h2>
  <body>
  <form method="POST" action="/profile/new">
    <p>
      <label for="nickname">nickname: </label>
      <input type="text" name="nickname" id="nickname" />
    <br/><br/>
      <label for="email">email: </label>
      <input type="text" name="user_email" id="email" />
    <br/><br/>
      <label for="user_city">city? </label>
      <input type="text" name="user_city" id="user_city" />
    <br/><br/>
      <label for="location_city">state?(two letter abbreviation)</label>
      <input type="text" name="user_state" id="user_state" />
    <br/><br/>
      <label for="user_img">photo.(link)</label>
      <input type="text" name="user_img" id="user_img" />
    <br/><br/>
      <label>do you <span title="drink alcohol?">imbibe?</span></label>
        &nbsp; &nbsp; <label for="liquor_yes">obvi.</label>
          <input type="radio" name="user_drinks?" value="true"  id="liquor_yes" checked />
        &nbsp; &nbsp; <label for="liquor_no">eww, never!</label>
          <input type="radio" name="user_drinks?" value="false" id="liqour_no" />
    </label>
    <br/><br/>
      <label for="feed_choice">select your feeds!</label>
    <br/><br/>
      <label for="movies">Fandango.<input type="checkbox" name="fandango" id="fandango" /></label>
      <label for="restaurants">Yelp.<input type="checkbox" name="yelp" id="yelp" /></label>
      <label for="nyte">New York Times Events.<input type="checkbox" name="nyte" id="nyte" /></label>
      <label for="nytmr">New York Times Movie Reviews.<input type="checkbox" name="nytmr" id="nytmr">
      <label for="twitter">Twitter.<input type="checkbox" name="twitter" id="twitter" /></label>
      <label for="instagram">Instagram.<input type="checkbox" name="instagram" id="instagram" /></label>
      <label for="weather">Weather.<input type="checkbox" name="weather" id="weather" /></label>
    <br/><br/>
        <input type="submit" value="submit." />
    <p>
  </form>
</body>
