body {
  text-align: center;
  margin: auto;
}

/*header {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  float: left;
}*/

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 170px;
}

h2 {
font-family: 'Oswald', sans-serif;
font-size: 70px;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
}

p {
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  color: white;
}

button {
  padding: 10px;
  background: transparent;
  border-color: black;
}

a:link{
  text-decoration: none;
  color: black;
}

a:visited{
  color: black;
}

div {

  border-radius: 10;
  background-color: #000000;
}

#top_right {
float: top;
background: transparent;
position: fixed; top;
right: 25px;
padding: 16px 10px;
z-index: 999
}

#top_left {
position: fixed, top: 0;
background: transparent;
/*position: fixed; top;
left: 0;
padding: 0px 0px;
z-index: 999*/
}

/*#one{
position: fixed
}

#two{
position: relative;
}

#three{
position: relative;
}

#four{
position: relative;
}
*/
