header {
  background: transparent;
  width: 100%;
  margin-top: -75px;
  margin-bottom: -70px;
  text-align: left;

}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 170px;
}

h2 {
font-family: 'Oswald', sans-serif;
font-size: 70px;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
}

body {
  text-align: center;
  margin: auto;
  position: relative;
}

p {
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
  color: white;
}

p.great{
font-family: 'Rock Salt', cursive;
font-size: 45px;
}

p.bigger{
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}

article{
font-family: 'Pacifico', cursive;
text-align: left;
color: white;
font-size: 20px;
}

button {
  padding: 10px;
  background: transparent;
  border-color: black;
}

a:link{
  text-decoration: none;
}

a:visited{
  color: black;
}

div {
  border-radius: 20px;
  background-color: #000000;
}

img{
  border-radius: 10px;
}

#profile{
  font-size: 20px;
}

p.black{
  color: black;
}
